section header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(18, 138, 218);
    font-size: 2em;
}

.articles-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.articles-container p{
    margin: 1em 2em;
}

.articles-container article{
    margin: 2em;
    border: 0.5em solid rgb(18, 138, 218);
    background-color: white;
    width: 50% ;
    height: 28em;
    font-size: 1.3em;
}