body{
    margin: 0;
    padding: 2% 10%;
    background-image: url("../Images/background.png");
    overflow: auto;
}

#header-top{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 3%;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header-top img{
    height: 3em;
    margin-left: 5%;
}

a{
    text-decoration: none;
}

#header-top h1{
    font-size: 3em;
    color: rgb(18, 138, 218);
}

#nav-links{ 
    width: 40%;
}

#nav-links a{
    text-decoration: none;
    color: rgb(18, 138, 218);
    font-weight: bold;
    margin: 0 1%;
    font-size: 2em;
}

#nav-links a:hover{
    color: rgb(23, 97, 146);
}