p {
    margin: 0;
}

.glove-wrapper{
    margin: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 0.1em solid rgb(18, 138, 218);
    background-color: white
}


.glove-wrapper img{
    /* width: 100%; */
    /* max-width: 3em; */
    border-right: 0.1em solid rgb(18, 138, 218);
    margin-right: 1%;
}

.info-wrapper{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
 
.description-element {
    margin: 4%;
} 

