p {
    margin: 0;
}

span{
    margin: 0;
}

.glove-wrapper{
    margin: 10% 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 0.1em solid rgb(18, 138, 218);
    background-color: white
}

.glove-wrapper img{
    width: 100%;
    max-width: 20em;
    border-right: 0.1em solid rgb(18, 138, 218);
    margin-right: 3%;
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
}

#glove-name{
    font-size: 2.5em;
    color: rgb(23, 124, 192);
}

.glove-attribute{
    font-family: Arial, Helvetica, sans-serif;
    margin: 4% 1% 4% 0;

}

.attribute-title{
    color: rgb(105, 105, 105);
}