
.gloves-info{
    margin: 3% 5% 0 5%;
    /* display: flex; */
}

.gloves-info header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(18, 138, 218);
    font-size: 2em;
}

.gloves-info article{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    font-size: 1.3em;
}

.paragraph img{
    width: 5em;
    height: 5em;
    margin: 2% 2% 0 0 ;
    align-self: flex-start;
}