{% extends "base.html" %}

{% block headEnd %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/about.css">
{% endblock headEnd %}

{% block content %}
    <section>
        <header>
            <h2>About US</h2>
        </header>
        <div class="articles-container">
            <article>
                <header>
                    <h3> Lorem ipsum </H3>
                </header>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus quis odio tenetur expedita veritatis ipsa nulla fugit numquam. Et, itaque expedita debitis rerum quisquam nisi beatae consequatur cumque ex sint.
                    Atque dolorum nobis dolor, omnis necessitatibus ipsam corrupti ab, assumenda qui voluptas neque ad itaque magni inventore optio eaque accusantium unde sint reiciendis! Laboriosam qui asperiores adipisci facilis, eos assumenda!
                    Incidunt, repellat aliquam. Voluptatibus doloremque quia ratione repellendus repellat dolor dignissimos beatae, sapiente, iste nemo accusamus nostrum facilis optio dolore nobis earum rerum iusto rem aliquam adipisci est dicta repudiandae.
                    Nisi velit, vero illo quas molestias, obcaecati, similique sint optio mollitia assumenda doloremque eos aperiam quisquam nesciunt molestiae accusantium vel numquam. Voluptate temporibus ex eos id eaque aliquam. Ex, quos?
                </p>
            </article>
            <article>
                <header>
                    <h3> Lorem ipsum </H3>
                </header>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus quis odio tenetur expedita veritatis ipsa nulla fugit numquam. Et, itaque expedita debitis rerum quisquam nisi beatae consequatur cumque ex sint.
                    Atque dolorum nobis dolor, omnis necessitatibus ipsam corrupti ab, assumenda qui voluptas neque ad itaque magni inventore optio eaque accusantium unde sint reiciendis! Laboriosam qui asperiores adipisci facilis, eos assumenda!
                    Incidunt, repellat aliquam. Voluptatibus doloremque quia ratione repellendus repellat dolor dignissimos beatae, sapiente, iste nemo accusamus nostrum facilis optio dolore nobis earum rerum iusto rem aliquam adipisci est dicta repudiandae.
                    Nisi velit, vero illo quas molestias, obcaecati, similique sint optio mollitia assumenda doloremque eos aperiam quisquam nesciunt molestiae accusantium vel numquam. Voluptate temporibus ex eos id eaque aliquam. Ex, quos?
                </p>
            </article>
        </div>
        <div class="articles-container">
            <article>
                <header>
                    <h3> Lorem ipsum </H3>
                </header>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus quis odio tenetur expedita veritatis ipsa nulla fugit numquam. Et, itaque expedita debitis rerum quisquam nisi beatae consequatur cumque ex sint.
                    Atque dolorum nobis dolor, omnis necessitatibus ipsam corrupti ab, assumenda qui voluptas neque ad itaque magni inventore optio eaque accusantium unde sint reiciendis! Laboriosam qui asperiores adipisci facilis, eos assumenda!
                    Incidunt, repellat aliquam. Voluptatibus doloremque quia ratione repellendus repellat dolor dignissimos beatae, sapiente, iste nemo accusamus nostrum facilis optio dolore nobis earum rerum iusto rem aliquam adipisci est dicta repudiandae.
                    Nisi velit, vero illo quas molestias, obcaecati, similique sint optio mollitia assumenda doloremque eos aperiam quisquam nesciunt molestiae accusantium vel numquam. Voluptate temporibus ex eos id eaque aliquam. Ex, quos?
                </p>
            </article>
            <article>
                <header>
                    <h3> Lorem ipsum </H3>
                </header>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus quis odio tenetur expedita veritatis ipsa nulla fugit numquam. Et, itaque expedita debitis rerum quisquam nisi beatae consequatur cumque ex sint.
                    Atque dolorum nobis dolor, omnis necessitatibus ipsam corrupti ab, assumenda qui voluptas neque ad itaque magni inventore optio eaque accusantium unde sint reiciendis! Laboriosam qui asperiores adipisci facilis, eos assumenda!
                    Incidunt, repellat aliquam. Voluptatibus doloremque quia ratione repellendus repellat dolor dignissimos beatae, sapiente, iste nemo accusamus nostrum facilis optio dolore nobis earum rerum iusto rem aliquam adipisci est dicta repudiandae.
                    Nisi velit, vero illo quas molestias, obcaecati, similique sint optio mollitia assumenda doloremque eos aperiam quisquam nesciunt molestiae accusantium vel numquam. Voluptate temporibus ex eos id eaque aliquam. Ex, quos?
                </p>
            </article>
        </div>
    </section>
{% endblock content %}