{% extends "base.html" %}

{% block headEnd %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/about.css">
{% endblock headEnd %}

{% block content %}
    <section>
        <header>
            <h2>About</h2>
        </header>
        <div class="articles-container">
            <article>
                <header>
                    <h3>The limitations </H3>
                </header>
                <p>PVC gloves should not be worn in very low temperatures because they can become stiff.

Heavy leather or cotton gloves can become uncomfortable if worn for long periods, particularly in a warm environment.

Gloves offer no protection to the wrists or forearms. If there is a risk of damage to these parts of the body, gauntlets should be worn and tucked into the sleeves of other clothing.

When handling chemicals exposure must be kept to a minimum. The chemical may degrade or permeate the glove after even quite a short amount of time.    

                </p>
            </article>
            <article>
                <header>
                    <h3> Pick wisely </H3>
                </header>
                <p>
                    Hand injuries are preventable. Safety gloves, correctly sized and engineered with the right materials, will defend workers from virtually any type of hazard. Unfortunately, employees often have a very limited understanding of how to select a glove properly based on the dangers they confront. The number of glove choices is vast,and the standards governing personal protective equipment, including hand protection-are not always easy to decipher.
                </p>
            </article>
        </div>
        <div class="articles-container">
            <article>
                <header>
                    <h3> Help your employees </H3>
                </header>
                <p>
                    Recognize that an employee may be exposed to more than one hazard. For instance, the jobsite may contain corrosive chemicals or biological exposure, as well as sharp metals, or broken glass. If you are not sure of the hazard or hazards, confer with an ESH coordinator or industrial hygienist. Once gloves are selected, inform employees how to use them properly to protect themselves. Let them know when gloves should be replaced. If the gloves are reusable ask employees to rinse them before removal and tell them how they should be stored. 
                </p>
            </article>
            <article>
                <header>
                    <h3>Protect your hands</H3>
                </header>
                <p>
                    Hands are the most used tools in the workplace, making their protection from on-the-job hazards critically important to maintaining employee productivity. Hand dangers are around every corner. Depending on the workplace, employees' hands are endangered daily from chemicals, abrasive surfaces, splinters, broken glass, and cuts or scrapes, among countless other hazards. 
                </p>
            </article>
        </div>
    </section>
{% endblock content %}