<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Gloves</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/base.css">
    {% block headEnd %} {% endblock %}
</head>
<body>
    <header id = "header-top">
        <div id="logo">
            <img src='../static/Images/logo.jfif' alt="logo">
            <a href="/home">
                <h1>Glover</h1>
            </a>
        </div>
        <div id="nav-links">
            <a href="/home">Home</a>
            <a href="/gloves">Gloves</a>
            <a href="/calculations">Calculations</a>
            <a href="/about">About</a>
        </div>
    </header>
        {% block content %} {% endblock %}
</body>
</html>