{% extends "base.html" %}

{% block headEnd %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/glove.css">
{% endblock headEnd %}

{% block content %}
    <section class="glove-wrapper">
        <img src="http://127.0.0.1:5000//glove/img/{{ glove.gloveName }}" alt="{{ glove.gloveName }}">
        <div class="info-wrapper">
            <p id="glove-name">{{ glove.gloveName }}</p>
            <div class="glove-attribute">
                <p class="attribute-title">Description:</p>
                <p>{{ glove.gloveDescription }}</p>
            </div>
            <div class="glove-attribute"e>
                <span class="attribute-title">price:</span>
                <span>{{ glove.glovePrice }}$</span>
            </div>
            <div class="glove-attribute">
                <span class="attribute-title">Type:</span>
                <span>{{ glove.gloveType }}</span>
            </div>
        </div>
    </section>
{% endblock content %}