{% extends "base.html" %}

{% block headEnd %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/gloves.css">
{% endblock headEnd %}

{% block content %}
    <section class="gloves-container">
    {% for glove in gloves %}
        <div class="glove-wrapper">
            <p>{{ glove.gloveName }}</p>
            <a href="glove/{{ glove.gloveName }}">
            <img src="http://127.0.0.1:5000//glove/img/{{ glove.gloveName }}" alt="{{ glove.gloveName }}">
            </a>
        </div>
        {% endfor %}
    </section>
{% endblock content %}