{% extends "base.html" %}

{% block headEnd %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
{% endblock headEnd %}

{% block content %}
    <section class="gloves-info">
        <header>
            <h2>When to wear gloves</h2>
        </header>
        <article>
            <div class="paragraph">
                <img src="../static/Images/placeHolder.png" alt="placeHolder">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fugit facere cupiditate distinctio. Pariatur quos rem rerum, dicta accusamus debitis praesentium doloribus. Illo aperiam praesentium repellat, sint porro error molestiae!
                    Libero enim nobis recusandae sed explicabo inventore deserunt similique voluptate! Officia sint exercitationem saepe consequatur aut veritatis, tempore non molestiae quisquam iusto cum quasi ratione corrupti nam, cumque quae. Aliquid.
                    Ipsa dolorem voluptatum ipsam suscipit corporis aperiam ea adipisci dolorum velit, eaque dolores dignissimos recusandae. Ullam et ipsa consequuntur omnis esse, voluptatem neque quae, blanditiis velit fugit quaerat error officiis?
                </p>
            </div>
            <div class="paragraph">
                <img src="../static/Images/placeHolder.png" alt="placeHolder">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dicta autem laudantium doloribus, veniam porro. Eum, sunt magni porro vero veritatis necessitatibus autem quasi cumque, distinctio, ab molestias accusantium fugit!
                    Illo molestias explicabo facere cum cupiditate sed ad aliquam? Ab, quam veritatis vitae dolorem inventore doloremque sit? Iure molestias sit consequatur nobis voluptatibus, officia iusto saepe veritatis nulla obcaecati. Ex!
                    Mollitia velit tempora expedita pariatur optio vero ut facilis vel nisi. Cupiditate excepturi libero quibusdam veritatis recusandae quaerat, dicta, magni nesciunt assumenda unde odit itaque at rerum, voluptas architecto sit.
                    Animi quos necessitatibus, dolores similique delectus blanditiis, expedita nihil neque quod in alias earum, molestiae beatae rem. Exercitationem deleniti recusandae eligendi dolores, modi architecto, voluptatum sequi nesciunt ut mollitia debitis.
                    Eum quis numquam repellendus ab molestias nisi non at distinctio illo fugit tempora obcaecati dicta, harum sit eos molestiae officiis facere ut tempore et? Vero neque rerum labore aliquam iste.
                </p>
            </div>
            <div class="paragraph">
                <img src="../static/Images/placeHolder.png" alt="placeHolder">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum mollitia vel at eius nihil iste soluta saepe necessitatibus minus quaerat exercitationem quam temporibus officiis numquam aliquam omnis, iusto libero reiciendis?
                    Rem repellat ratione doloremque eligendi! Veritatis quas culpa enim similique ad voluptatum soluta, minima, laudantium hic dicta ducimus accusantium id pariatur nihil. Nostrum ipsam nihil autem consequuntur animi ducimus possimus!
                </p>
            </div>
            <div class="paragraph">
                <img src="../static/Images/placeHolder.png" alt="placeHolder">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolorum nihil officia praesentium provident, dolores quo debitis excepturi qui, voluptas veritatis in odio! Obcaecati iste in quos consequuntur quaerat recusandae.
                    Commodi, blanditiis ad? Quam enim quia quidem aspernatur quasi doloribus vero temporibus sequi praesentium accusantium adipisci iusto, ratione quas sunt labore dolores provident possimus assumenda. Voluptate nisi sit dolor neque.
                    Ullam cumque, laborum mollitia eligendi molestias reiciendis nostrum modi minus at officiis sequi recusandae non odio culpa corrupti aperiam soluta accusamus fugiat similique! Quod ducimus sunt ipsum dolorem corrupti eveniet.
                    Iure temporibus quo iste ipsa fugiat, doloribus vel facilis optio saepe cum eveniet illum ratione, maxime, libero reprehenderit voluptatum suscipit minima itaque nisi? Repellendus voluptatem provident corrupti cumque sequi qui.
                    Facere voluptates dolore reiciendis nobis quos officia! Saepe neque, voluptate illum quod minus minima pariatur sed? Modi cum eaque voluptatem dignissimos, eius excepturi tenetur consequuntur velit ullam fugiat dicta veniam.
                    Cumque quidem earum expedita eos at tempora magni iste qui quae vero, beatae quibusdam architecto cupiditate corrupti excepturi reiciendis. Error eligendi saepe corporis facere natus illo aut esse dolorem eveniet.
                    Totam velit, recusandae expedita quisquam nam unde temporibus assumenda sunt. Veniam repudiandae rerum maiores nisi provident voluptatem aliquid odio autem quasi, laborum perferendis tempora repellat, amet mollitia facere similique sed.
                </p>
            </div>
        </article>
    </section>
{% endblock content %}