{% extends "base.html" %}

{% block headEnd %}
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
{% endblock headEnd %}

{% block content %}
    <section class="gloves-info">
        <header>
            <h2>When to wear gloves</h2>
        </header>
        <article>
            <div class="paragraph">
                <img src="../static/Images/rubber-gloves.png" alt="placeHolder">
                <div>
                    <h3>When cleaning</h3>
                    <p>Gloves and proper air circulation are two important elements when cleaning your house, especially the surfaces in your house that are commonly touched, such as doorknobs, light switches, handles, desks, toilets, faucets, sinks and electronic devices. If someone in your house may have COVID-19, it is recommended to prepare special gloves for cleaning and disinfecting purposes.
                    </p>
                </div>
            </div>
            <div class="paragraph">
                <img src="../static/Images/covid-19.png" alt="placeHolder">
                <div>
                    <h3>Preventing infection</h3>
                    <p>
                        Besides choosing the right type of glove and practicing accurate and frequent hand hygiene measures, correct use of the glove is also essential to fighting spread of infections. It is important to be aware of how you don as well as take off a glove, and especially taking off the glove deserves extra attention. After use, the gloves are 'polluted' with microbes that you do not want to come into contact with your skin or clothing.
                    </p>
                </div>
            </div>
            <div class="paragraph">
                <img src="../static/Images/shopping-cart.png" alt="placeHolder">
                <div>
                    <h3>When gloves aren’t needed</h3>
                    <p>
                        Wearing gloves outside of these instances (for example, when using a shopping cart or using an ATM) will not necessarily protect you from getting infected and may still lead to the spread of germs. The best way to protect yourself from germs when running errands and after going out is to regularly wash your hands with soap and water for 20 seconds or use hand sanitizer with at least 60% alcohol.
                    </p>
                </div>
            </div>
            <div class="paragraph">
                <img src="../static/Images/gloves.png" alt="placeHolder">
                <div>
                    <h3>Gloves in the workplace.</h3>
                    <p>
                        Our hands are perhaps one of the most important tools at work and are often exposed to a lot of hazards, especially for those working in the industrial and crafting trades. Hand injuries are quite common, but even a mere bruise or puncture could sometimes prove debilitating.

Safety experts and studies state that the proper use of gloves could have prevented almost 60% of hand injuries. Safe Work Australia (SWA), the Australian government agency established to improve work and health safety, reported that about 14,410 people had to take a week off at work due to hand, fingers, and thumb injuries in 2015-16.

The use of proper gloves and availability of safety supplies would have helped prevent and minimize the severity of injuries, respectively. As such, one should be aware of the following hazards, and types of protective gloves:
                    </p>
                <div>
            </div>
        </article>
    </section>
{% endblock content %}